
	

<div class="header">
	{{#linkTo "index"}}
		<img src="img/dooley.jpg" width="60px;" height="60px;" class="img-circle img-polaroid">
	{{/linkTo}}
	<div class="name"><strong>Dooley Nsewolo</strong></div>
	<div class="gray-text">Test Consultant &amp; Web developper</div>
</div>
<!--div class="horizontal-line"></div-->

<div class="top-bar">
	<div class="navbar navbar-fixed">
	  <div class="navbar-inner">
	    <div class="container-fluid">
	 		
	      	<div class="brand">{{#linkTo "index"}}Home{{/linkTo}}</div>
	 
	      	<!-- Everything you want hidden at 940px or less, place within here -->
	      	<div class="nav-collapse collapse">
	         	<ul class="nav">
	         		<li>{{#linkTo 'curriculums'}}CV{{/linkTo}}</li>
                    <li>{{#linkTo 'projects'}}Projects{{/linkTo}}</li>
                    <li>{{#linkTo 'references'}}Références{{/linkTo}}</li>
              		<li>{{#linkTo 'index'}}About me{{/linkTo}}</li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        {{#linkTo 'index' classNames='disabled brand'}}&nbsp;Dooley{{/linkTo}}
                    </li>
                </ul>
	      	</div>
	    </div>
  	</div>
</div>
</div>

<div class="main-content">
	<div class="container-fluid">
		<div class="row-fluid">
		  	<div class="span2">
		  		<div class="vertical-line side-bar">
		  			<div id="social" class="widget">
				        <ul>
				            <li class="email"><a href="mailto:%6e%73e%77o%6co&#64;g%6dail%2e&#99;o%6d"><div class="icon"></div>E-mail</a></li>
				           <li class="twitter"><a href="http://twitter.com/utnas"><div class="icon"></div>@utnas</a></li>
				           <li class="github"><a href="https://github.com/utnas"><div class="icon"></div>Github</a></li>
				           <li class="linkedin"><a href="http://fr.linkedin.com/pub/dooley-nsewolo/12/399/657"><div class="icon"></div>LinkedIn</a></li>
				           <!--li class="facebook"><a href=""><div class="icon"></div>Facebook</a></li-->	           
				        </ul>
		    		</div>
		    		<h5>ABOUT</h5>
		    		<p>
						I'm currently test consultant and Java developer at <a href="http://www.smartesting.com">Smartesting</a> 
		    		</p>
		    		<p>
		    			I develop web applications with Ruby and Ember.js
		    		</p>	
		  		</div>
		  	</div>
		  	 
		  	<div class="span8">
				{{outlet}}
		  	</div>
		</div>
	</div>
</div>

<div class="dotted-line footer">
	© Dooley Nsewolo
</div>