

<div class="header">
	<img src="http://bernardi.me/wp-content/uploads/2013/04/avatar.jpg" width="70" height="70" class="img-circle img-polaroid">
	<h1><strong>Dooley Nsewolo</strong></h1>
	<p class="muted">Testing Consultant & Web developper</p>
</div>

	<div class="navbar navbar-fixed-top main-content">
	  	<div class="navbar-inner">
	    	<div class="container-fluid">
	      		<div class="brand">{{#linkTo "index"}}Dooley Nsewolo{{/linkTo}}</div>
	    	</div>
	  	</div>
	</div>

{{outlet}}