<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">{{#linkTo "sessions"}}Dooley Nsewolo{{/linkTo}}</div>
      <div class="btn-group pull-right">
        <i class="icon-plus-sign">Add Contact</i> 
      </div>
    </div>
  </div>
</div>
{{outlet}}