
<div id="wrap">
	
	<!--Experience-->

	<h3>Work Experience</h3>
	<ul class="box">
		<li><span>2013</span>
			<strong>Web developper for my personal account</strong>
			<br>I develop in Ruby-On-Rails and Ember.js applications and websites.
			<br>I lead this activity in parallel with my current job.
		</li>
		<li><span>2010 - now</span>
			<strong>Test Consultant & Trainer</strong> at <a href="http://www.smartesting.com" target="_blank">Smartesting <img src="img/link.gif"></a>
			<br>My consultant activity consists in:
			<br>- Trainner about Smartesting solution(3 à 12 persons by session),
			<br>- Testing Projets management
			<br>- Implementation of the Smartesting solution in the customer environment
			<br>- Provide methodological guidance on the implementation of Model-Based Testing.

			<br>Clients visited: DGA, Dassault, Thales, VIX Technologie, AIRBUS, SFR, Société Générale, Galitt, Visa, Capgemini Maroc, Bouygues Immobilier, Sanofi.
		</li>
		<li><span>2010 - now</span>
			<strong>Software Ingeneer</strong> at <a href="http://www.smartesting.com" target="_blank">Smartesting <img src="img/link.gif"></a>
			<br>I develop in Java some customizations for Smartesting's clients. 
			<br>This activity is mainly characterized by programming connectors automatic publication for HP ALM11 and Business Process Modeling Notation parser.
		</li>
		<li><span>2009-2010</span>
			<strong>Ingénieur de Recherche</strong> at <a href="http://www.telecom-bretagne.eu" target="_blank">Télécom Bretagne<img src="img/link.gif"></a>
			<br>SECUR_TEST project was an innovative project, aimed at developing techniques for automatic test generation from models. 
			<br>Systems under test was hardware components used for military security.
			<br/>I developed test strategies and coverage method of the business requirements using the technique Model-based Testing.
		</li>
		<li><span>2008-2009</span>
			<strong>Software Ingeneer</strong> at <a href="" target="_blank">REDICAM<img src="img/link.gif"></a>.
			<br>I worked for a small company specialized on data recovery from hard drive.
			I developed in C/C++ modules for simulating NTFS file system.
		</li>
	</ul>
	
	<!--Competences-->
	 
	<h3>Skills</h3>
	<ul class="box">
		<li><span>Development</span>
			Ruby, Java, JavaScript & jQuery, HTML5/CSS3, C/C++, UML  
		</li>
		<li><span>Softwares</span>
			IntelliJ Idea, Eclipse, Sublimtext, TextMate
			<br>SVN, Jenkins, Ant, Git, Github
		</li>
		<li><span>Langues</span>
			English conversation
		</li>
	</ul>
	 
	
	<!--Cursus-->
	 
	<h3>Past Education</h3>
	<ul class="box">
		<li><span>2004-2009</span>
			<strong>Master in Software Engenering </strong> at <a href="http://www.univ-fcomte.fr" target="_blank">Université de Franche-Comté <img src="img/link.gif"></a>, 
			<br>specialization Test and Security
			<br>
		</li>
	</ul>
	 
	
	<!--Loisirs-->
	 
	<h3>Hobbies</h3>
	<ul>
		<li>Soccer <a href="http://www.uspresdevaux.fr/" target="_blank">USPV Besançon <img src="img/link.gif"></a>
		<li>Marathon</li>
		<li>Playing Guitar</li>
		</li>
	</ul>
	 
	
	<!--Footer-->
	<footer>
		<p><a href="pdf/CvTestingDooleyNsewolo.pdf">Version pdf</a></p>
	</footer>
</div>