
	
	<!--Experience-->

	<h3>Work Experience</h3>
	<ul>
		<li><span><strong>2013&nbsp;-&nbsp;now: Web developper</strong> for my personal account</span>
			<br>I develop in Ruby-On-Rails and Ember.js applications and websites.
			<br>I lead this activity in parallel with my current job
		</li>
		<hr>
		<li><span><strong>2010&nbsp;-&nbsp;now:
			Test Consultant & Trainer</strong> at <a href="http://www.smartesting.com" target="_blank">Smartesting <img src="img/link.gif"></a></span>
			<br>My consultant activity consists in:
			<br>- Trainner about Smartesting solution(3 à 12 persons by session),
			<br>- Testing Projets management
			<br>- Implementation of the Smartesting solution in the customer environment
			<br>- Provide methodological guidance on the implementation of Model-Based Testing.

			<br><br>
			<strong>Clients visited:</strong> DGA(Army), Dassault, Thales, VIX Technologie, AIRBUS, SFR, Société Générale, Galitt, Visa, Capgemini Maroc, Bouygues Immobilier, Sanofi.
		</li>
		<hr>
		<li><span><strong>2010&nbsp;-&nbsp;now:
			Software Ingeneer</strong> at <a href="http://www.smartesting.com" target="_blank">Smartesting <img src="img/link.gif"></a></span>
			<br>I develop in Java some customizations for Smartesting's clients. 
			<br>This activity is mainly characterized by programming connectors and automatic publisher for HP ALM11.
		</li>
		<hr>
		<li><span><strong>2009&nbsp;-&nbsp;2010:
			Reasearch Ingeneer in Testing</strong> at <a href="http://www.telecom-bretagne.eu" target="_blank">Télécom Bretagne <img src="img/link.gif"></a></span>
			<br>SECUR_TEST project was an innovative project, aimed at developing techniques for automatic test generation from models. 
			<br>Systems under test was hardware components used for military security.
			<br/>I developed test strategies and coverage method of the business requirements using the technique Model-based Testing.
		</li>
		<hr>
		<li><span><strong>2008&nbsp;-&nbsp;2009:
			Software Ingeneer</strong> at <a href="" target="_blank">REDICAM <img src="img/link.gif"></a></span>
			<br>I worked for a small company specialized on data recovery from hard drive.
			I developed in C/C++ modules for simulating NTFS file system.
		</li>
	</ul>
	
	<!--Competences-->
	 
	<h3>Skills</h3>
	<ul>
		<li><span><strong>Development:</strong> </span>
			Ruby, Java, JavaScript & jQuery, HTML5/CSS3, C/C++, UML  
			</strong>
		</li>
		<li><span><strong>Softwares:</strong></span>
			IntelliJ Idea, Eclipse, Sublimtext, TextMate, SVN, Jenkins, Ant, Git, Github
		</li>
		<li>
			<span><strong>Testing:</strong></span> based on four years of daily practice
			<ul>
				<li><span><strong>Technics</strong></span>: Test Driven Development, Model Driven Testing</li>
				<li><span><strong>Tools</strong></span>: HP ALM11, IBM Jazz, Testlink, Capybara, RSpec, JUnit, HP QuickTest Pro, Watir, Selenium</li>
			</ul>
			
		</li>
		<li>
			<span><strong>Language:</strong></span>
			English dialog
		</li>
	</ul>
	 
	
	<!--Cursus-->
	 
	<h3>Past Education</h3>
	<ul>
		<li><span>2004&nbsp;-&nbsp;2009: </span>
			<strong>Master of Software Engenering </strong> at <a href="http://www.univ-fcomte.fr" target="_blank">Université de Franche-Comté <img src="img/link.gif"></a>
			<br>
			<span><strong>Specialization:</strong></span> Test and Security
			<br>
		</li>
	</ul>
	 
	
	<!--Loisirs-->
	 
	<h3>Hobbies</h3>
	<ul>
		<li>Soccer <a href="http://www.uspresdevaux.fr/" target="_blank">USPV Besançon <img src="img/link.gif"></a>
		<li>Marathon</li>
		<li>Playing Guitar</li>
		</li>
	</ul>
	 
	
	<!--Footer-->
	<footer>
		<p><a href="pdf/CvTestingDooleyNsewolo.pdf" target="_blank"><span class="badge badge-info">PDF Version</span></a></p>
	</footer>