
<h3>About me</h3>

<p>
I live in Besançon-France and I work at Smartesting, where I'm currently consultant in test and java developer. During my spare time and nights, I develop web applications with Ruby and Ember.js for personal enterprise.
</p>

<p>
	My current job as <strong>Test Consultant & Trainer</strong> at <a href="http://www.smartesting.com" target="_blank">Smartesting <img src="img/link.gif"></a> consists in: 
	<ul>
		<li>Testing Projets management</li>
		<li>Implementation of the Smartesting solution in the customer environment</li>
		<li>Provide methodological guidance on the implementation of Model-Based Testing</li>
		<li>Model-based Testing trainer about (3 à 12 persons by session)</li>
	</ul>
	<strong>Visited clients:</strong> DGA, Dassault, Thales, VIX Technologie, AIRBUS, SFR, Société Générale, Galitt, Visa, Capgemini Maroc, Bouygues Immobilier, Sanofi
</p>
<p>
My first job experience was in a start-up specialized on data recovery on hard drive. In this job I developped recovery modules in C and C++. I used MFC Microsoft library and OpenGL for displaying data signal.
</p>