
<h3>About me</h3>

<p>
I live in Besançon-France and I work at Smartesting, where I'm currently consultant in test and java developer. During my spare time and nights, I develop web applications with Ruby and Ember.js for personal enterprise.
</p>

<p>
My first job experience was in a start-up specialized on data recovery on hard drive. In this job I developped recovery modules in C and C++. I used MFC Microsoft library and OpenGL for displaying data signal.
</p>