
<h3>About</h3>

<p>
I live in Besançon and work at Smartesting, where I'm currently  consultant and  java developer. 
</p>

<p>
In my spare time and nights, I develop web applications with Ruby and Ember.js for my customers. 
</p>

<p>
My latest weekend hacks are Donat.io, a way to automatically donate a % of your revenues to charity, and SaveMyInbox, a small app that automatically saves your Gmail attachments to Dropbox which has been sold to Openera. I founded both Italian Startup Scene, a Facebook group with more than 10.000 people, and HackItaly, a hackaton-event for the top italian developer.
</p>

<p>
Other ventures I was or am involved in include TechCrunch Europe, theStartup.eu, HackFwd and the Sandbox Network. I am also an investor in Iubenda, Dropis, Cucumbertown, Transcriptic and Coderloop (sold to Gild).
</p>

<p>
Other things I’m glad I did are: worked as a DJ in the most important clubs in Rome, lead a political organization at my university, worked in a summer vacation village, played semi-pro sports, studied one year abroad and traveled to more than 230 cities in 40 countries and 4 continents. You can talk to me in English, French, Spanish and Italian.
</p>