
body {
	text-align: left;
    color: #373737;
    font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.avatar{
	text-align: center;
}
.header{
	margin-top: 5px;
	text-align: center;
	background-color: #2ba6cb;
	color: white;
    line-height: 1.2em;
}

.gray-text{
	color: #CCC;
	font-size: 0.9em;
	margin-top: 0.1em;
}
.name{
	font-size: 2.0em;
	margin-top: 0.1em;
    line-height: 0.9em;
}
.top-bar{
	margin-bottom: 2.5em;
    margin-right: 8%;
    margin-left: 8%;
}

.main-content{
	margin: 0% 0% 0% 10%; 
	text-align: left;
    line-height: 1.5em;
}

.vertical-line{
	border-right: 1px dotted #ddd;
}

.horizontal-line{
    border-top:1px dotted #ddd;
    margin-bottom: 0.5em;
}

.side-bar{

	min-width: 150px;
	float: left;
	text-align: left;
}

.footer{
	font-size: 0.8em;
	text-align: center;
	margin-top: 1.5em;
}

.dotted-line{
	border-top:1px dotted #ddd;
	margin-bottom: 40px;
}

/* Social stuff */

aside .widget {
    margin-bottom:30px;
}

#social ul {
    list-style:none;
    margin:0;
    padding:0;
}

#social ul li {
    overflow:hidden;
    margin:0;
}

#social ul li a .icon {
    width:30px;
    height:30px;
    float:left;
    border-radius: 50%;
    background-image: url(social_ico_sprite.png);
    background-repeat:no-repeat;
    margin-right:10px;
    background-color:#333;
}

#social ul li a{
    display:inline-block;
    margin-bottom:15px;
    height:32px;
    line-height:32px;
    color:#222;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

#social ul li a:hover {
    margin-left:7px;
}

#social ul li.twitter a .icon{
    background-position:54% -1px;
}

#social ul li.twitter a:hover .icon {
    background-color:#00CCFF;
}

#social ul li.facebook a .icon {
     background-position:54% -33px;
}

#social ul li.facebook a:hover .icon {
    background-color:#0059B3;
}

#social ul li.dribbble a .icon {
     background-position:54% -65px;
}

#social ul li.dribbble a:hover .icon {
    background-color:#C5376D;
}

#social ul li.vimeo a .icon {
     background-position:54% -97px;
}

#social ul li.vimeo a:hover .icon {
    background-color:#0BADD6;
}

#social ul li.linkedin a .icon {
     background-position:54% -129px;
}

#social ul li.linkedin a:hover .icon {
    background-color:#0073B2;
}

#social ul li.github a .icon {
     background-position:54% -161px;
}

#social ul li.github a:hover .icon {
    background-color: #E2B89F;
}

#social ul li.email a .icon {
     background-position:54% -193px;
}

#social ul li.email a:hover .icon {
    background-color:#66C804;
}
